.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
  
}
  
.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    height: 250px;
}
  
img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}
  
button {
    background-color: crimson;
    color: #fff;
    margin-top: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: medium;
    transition: all 0.15s ease;
}

button:hover {
    background-color: rgb(241, 38, 78);
}

h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: x-large;
}

.button-box {
    display: flex;
    align-items: center;
    gap: 0 25px;
}